#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.products-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	margin: 2rem 0;
	
}

.product-card {
	background-color: rgb(249, 242, 198);
	border: 2px solid #ccc;
	padding: 1rem;
	border-radius: 8px;
	text-align: center;
	transition: transform 0.2s;
	cursor: pointer;
	

	&:hover {
		transform: scale(1.025);
	}
}